* {
    font-family: mabite;
    padding: 0;
    margin: 0;
    color: white;
}

html { 
    background: #000;
}

th {
    text-align: left;
    padding-right: 15px;
    color: orangered;
}

.th-title {
    border-bottom: 2px solid orangered;
}

.ico20 {
    width: 20px;
    height: 20px;
}

.ico32 {
    width: 32px;
    height: 32px;
}

.ico44 {
    width: 44px;
    height: 44px;
}

.ico64 {
    width: 64px;
    height: 64px;
}

.icopen {
    height: 20px;
    width: 32px;
    padding: 4px;
}

.color1 td {
    color: orange;
}

.color2 td {
    color: yellow;
}   


@font-face {
    font-family: mabite;
    src: url('K2D-Medium.ttf');
}

.nav-in {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4px;
    border-bottom: 2px solid orange;
    background: #212121;
}

.nav-txt {
    font-size: 14px;
    color: orangered;
    width: 25%;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    border-bottom: 2px solid orange;
    opacity: 0.3;
    background: #212121;
}

.container {
    background-color: #000;
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    padding-bottom: 128px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-txt {
        width: 100%;
        margin-top: 10px;
    }
    .content {
        font-size: 11px;
    }
}